/* ---- General ---- */
@import url('https://fonts.googleapis.com/css2?family=Assistant&family=Heebo&family=Open+Sans&family=Rubik&family=Varela+Round&display=swap');

* {
  margin: 1rem;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

body {
  /* Safe zone */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1440px;
  min-width: 200px;
  min-height: 40px;
  border: 1px solid #000000;

  /* Font Display */
  font-family: 'Assistant', sans-serif;
  font-weight: 400;
  direction: rtl;
}

/* ---- index ---- */

.logobig {
  display: block;
  margin-top: 55px;
}

.slogan {
  padding: 44px;
  font-size: 30px;
}











.bottomboard form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 25px;
  place-items: center;
}

.buttonall {
  width: 250px;
  height: 70px;
  box-shadow: 0px 4px 12px -4px rgb(235, 235, 235);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease-in;
}

#errortext {
  text-align: right;
  padding-top: 40px;
  position: fixed;
}

#successtext {
  text-align: right;
  padding-top: 40px;
  position: fixed;
}

/*Trivia Buttons*/

.button1 {
  font-size: 30px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

.fontname1 {
  padding-top: 5px;
  font-size: 15px;
}

.button2 {
  font-size: 30px;
  font-family: 'Rubik';
  font-weight: 400;
}

.fontname2 {
  padding-top: 5px;
  font-size: 15px;
}

.button3 {
  font-size: 30px;
  font-family: 'Heebo';
  font-weight: 400;
}

.fontname3 {
  padding-top: 5px;
  font-size: 15px;
}

.button4 {
  padding-top: 5px;
  font-size: 30px;
  font-family: 'Varela Round';
  font-weight: 400;
}

.fontname4 {
  padding-top: 5px;
  font-size: 15px;
}

/* leftboard */

.phonemockup {
  background-image: url(img/backgroundPhone.png);
  width: 344px;
  height: 696px;
}

#header {
  position: relative;
  top: 100px;
  right: 60px;
  max-width: 224px;
  max-height: 496px;
}
#header1 {
  position: relative;
  top: 300px;
  right: 60px;
  max-width: 224px;
  max-height: 496px;
}
