/* ---- General ---- */

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: 'Assistant', sans-serif;
  font-weight: 400;
  direction: rtl;
}

/* Page Display */
body {
  border: 2px solid salmon;
  margin: auto;
  max-width: 1440px;
  min-width: 200px;
  text-align: center;
}

p {
  font-size: 16px;
}

input.button {
  border-radius: 50px;
  font-size: 25px;
  padding: 5px 50px 7px;
  background-color: #ffffff;
  border: solid black .1em;
  margin: 1em auto;
}

input.button:hover {
  background-color: rgb(154, 164, 255);
  color: white;
  cursor: pointer;
}

/* ---- Index ---- */

.logobig {
  margin-top: 55px;
}

.slogan {
  padding: 44px;
  font-size: 30px;
}

/* ---- Demo ---- */

.title2 {
  display: grid;
  place-items: center;
  font-size: 30px;
  padding: 50px 0 50px 0px;
  min-height: 1em;
}

/* Score */

.scoreboardContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 1440px;
  padding: 0 2em;
}

.scoreContainer {
  display: grid;
  grid-template-columns: .01fr .05fr;
  direction: ltr;
  align-items: center;
  justify-items: left;

}

.crown {
  background-image: url(img/ph_crown-simple-bold.png);
  width: 37px;
  height: 37px;
}

.score {
  padding-left: 1em;
  direction: ltr;
}

.pageContainer {
  display: grid;
  grid-template-columns: .1fr;
  align-items: center;
  justify-items: right;
}

/* Content */

.contentContainer {
  display: grid;
  align-items: center;
  grid-template-columns: 50% 50%;
}

.subContainerDivider {
  display: grid;
  grid-template-rows: .5fr 1fr;
}

.rightBoard {
  text-align: right;
  max-width: 720px;
}

.topBoard {
  padding: 2em;
}

.topBoard .question {
  font-size: 20px;
}

.middleBoard {
  text-align: right;
  padding: 2em;
}

.middleBoard .question {
  font-size: 20px;
  padding-bottom: 30px;
}

.leftBoard {
  max-width: 720px;
}

.bottomBoard {
  padding-top: 1em;
  text-align: center;
}

/*Fonts Buttons*/

.middleBoard form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 40px;
}

.container div label {
  cursor: pointer;
}

.container div label input[type="checkbox"] {
  display: none;
}

.container div label span {
  width: 100%;
  height: 80%;
  display: inline-block;
  box-shadow: 0px 4px 12px -4px rgb(235, 235, 235);
  outline: none;
  background: rgb(236, 236, 236);
  border-radius: 5px;
  color: black;
  user-select: none;
  overflow: hidden;
  text-align: center;
  padding-top: 10px;
  transition: all 0.3s ease-in;
}

.container div label span:before {
  content: '';
  position: absolute;
}

.container div label input[type="checkbox"]:checked~span {
  background: rgb(255, 196, 0);
  color: #ffffff;
}

.button1 {
  font-size: 30px;
  font-family: 'Open Sans Hebrew', sans-serif;
  font-weight: 800;
}

.fontname1 {
  padding-top: 5px;
  font-size: 15px;
}

.button2 {
  font-size: 30px;
  font-family: 'Rubik', sans-serif;
  font-weight: 900;
}

.fontname2 {
  padding-top: 5px;
  font-size: 15px;
}

.button3 {
  font-size: 30px;
  font-family: 'Heebo', sans-serif;
  font-weight: 900;
}

.fontname3 {
  padding-top: 5px;
  font-size: 15px;
}

.button4 {
  font-size: 30px;
  font-family: 'Varela Round', sans-serif;
  font-weight: 900;
}

.fontname4 {
  padding-top: 5px;
  font-size: 15px;
}

.button5 {
  font-size: 30px;
  font-family: 'Fredoka', sans-serif;
  font-weight: 600;
}

.fontname5 {
  padding-top: 5px;
  font-size: 15px;
}

.button6 {
  font-size: 30px;
  font-family: 'Noto Sans Hebrew', sans-serif;
  font-weight: 900;
}

.fontname6 {
  padding-top: 5px;
  font-size: 15px;
}

.button7 {
  font-size: 30px;
  font-family: 'Amatic SC', cursive;
  font-weight: 700;
}

.fontname7 {
  padding-top: 5px;
  font-size: 15px;
}

.button8 {
  font-size: 30px;
  font-family: 'Alef', sans-serif;
  font-weight: 700;
}

.fontname8 {
  padding-top: 5px;
  font-size: 15px;
}

/* Text */

#notvalid {
  text-align: right;
  padding-top: 30px;
  position: fixed;
  color: red;
  font-weight: 700;
  font-size: 1.2rem;
}

#successtext {
  text-align: right;
  padding-top: 40px;
  position: fixed;
}

/* leftboard */

.briefMockup {
  --width: 2481px;
  width: calc(var (--width) / 5);
  --height: 3508px;
  height: calc(var(--height) / 5);
  margin: 0 auto;
}

#header {
  position: relative;
}

#opensanshebrew {
  display: none;
}

#rubik {
  display: none;
}

#heebo {
  display: none;
}

#varelaround {
  display: none;
}

#fredoka {
  display: none;
}

#notosanshebrew {
  display: none;
}

#amatic {
  display: none;
}

#alef {
  display: none;
}