/* ---- General ---- */
@import url('https://fonts.googleapis.com/css2?family=Assistant&family=Heebo&family=Open+Sans&family=Rubik&family=Varela+Round&display=swap');

* {
    font-family: 'Assistant', sans-serif;
    font-weight: 400;
    direction: rtl;
}

/* Page Display */
body {
    border: 2px solid salmon;
    margin: auto;
    max-width: 1440px;
    min-width: 200px;
    text-align: center;
}

input.button {
    border-radius: 50px;
    font-size: 25px;
    padding: 5px 50px 7px;
    background-color: #e7e7e7;
    border: none;
    margin: 1em auto;
}

input.button:hover {
    background-color: rgb(154, 164, 255);
    color: white;
    cursor: pointer;
}

/* ---- Demo ---- */

.title2 {
    display: grid;
    place-items: center;
    font-size: 30px;
    padding: 50px 0 50px 0px;
    min-height: 1em;
}

/* score */

.scoreboardContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 1440px;
    padding: 0 2em;
}

.scoreContainer {
    display: grid;
    grid-template-columns: .01fr .05fr;
    direction: ltr;
    align-items: center;
    justify-items: left;

}

.crown {
    background-image: url(img/ph_crown-simple-bold.png);
    width: 37px;
    height: 37px;
}

.score {
    padding-left: 1em;
}

.pageContainer {
    display: grid;
    grid-template-columns: .1fr;
    align-items: center;
    justify-items: right;
}

/* content */
.contentContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 2em 2em;
}

.topBoard {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.topBoard .question {
    font-size: 20px;
}

.rightBoard {
    text-align: right;
    max-width: 720px;
}

.subContainerDivider {
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.middleBoard .question {
    font-size: 20px;
    padding-bottom: 30px;
}

.middleBoard form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 25px;
    justify-items: center;
}

.lineDivider{
    border-bottom: 1px solid rgb(0, 0, 0);
    padding-top: 2em;
}

.bottomBoard {
    padding-top: 10em;
    margin: 0 auto;
}

/* Gameplay Buttons */
.buttonall {
    width: 300px;
    height: 70px;
    box-shadow: 0px 4px 12px -4px rgb(235, 235, 235);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease-in;
}

.button1 {
    font-size: 30px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

.fontName1 {
    padding-top: 5px;
    font-size: 15px;
}

.button2 {
    font-size: 30px;
    font-family: 'Rubik';
    font-weight: 400;
}

.fontName2 {
    padding-top: 5px;
    font-size: 15px;
}

.button3 {
    font-size: 30px;
    font-family: 'Heebo';
    font-weight: 400;
}

.fontName3 {
    padding-top: 5px;
    font-size: 15px;
}

.button4 {
    padding-top: 5px;
    font-size: 30px;
    font-family: 'Varela Round';
    font-weight: 400;
}

.fontName4 {
    padding-top: 5px;
    font-size: 15px;
}

/* Gameplay text */

#errortext {
    text-align: right;
    padding-top: 10px;
    position: fixed;
}

#successtext {
    text-align: right;
    padding-top: 10px;
    position: fixed;
}