/* ---- General ---- */
@import url('https://fonts.googleapis.com/css2?family=Assistant&family=Heebo&family=Open+Sans&family=Rubik&family=Varela+Round&display=swap');

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

body {
  /* Safe zone */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #000000;

  /* Font Display */
  font-family: 'Assistant', sans-serif;
  font-weight: 400;
  direction: rtl;
}

/* ---- index ---- */

.logobig {
  display: block;
  margin-top: 55px;
}

.slogan {
  padding: 44px;
  font-size: 30px;
}

input.button {
  border-radius: 50px;
  font-family: 'Assistant', sans-serif;
  font-weight: 400;
  font-size: 25px;
  padding: 5px 50px;
  text-align: center;
  background-color: #e7e7e7;
  color: black;
  border: none;
  margin: 235px 0px 48px 0px;
}

input.button:hover {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1), 0 2px 5px 0 rgba(0, 0, 0, 0.19);
  background-color: rgb(249, 250, 251);
  cursor: pointer;
}

input.button:active {
  background-color: rgb(117, 117, 117);
  cursor: pointer;
}

/* ---- index2 ---- */

.title2 {
  font-size: 30px;
  padding-top: 50px;
  padding-bottom: 80px;
}

/* Grid */

.containerdivider {
  display: grid;
  place-items: center;
  grid-template-columns: 1fr 1fr;
  padding: 0px 40px 0px 40px;
}

.rightboard {
  padding-left: 50px;
}

.subcontainerdivider {
  display: grid;
  grid-template-rows: 1fr 1fr;
  height: 699px;
}

.topboard {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-bottom: 50px;
  justify-items: end;
}

.topboard .question {
  font-size: 20px;
  padding-left: 70px;
  text-align: right;
}

.topboard .photobrief {
  background-image: url(img/PhotoBrief.png);
  width: 126px;
  height: 200px;
}

.bottomboard .question {
  font-size: 20px;
  padding-bottom: 30px;
  text-align: right;
}

.bottomboard form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 25px;
  place-items: center;
}

.buttonall {
  width: 250px;
  height: 70px;
  box-shadow: 0px 4px 12px -4px rgb(235, 235, 235);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease-in;
}

#errortext {
  text-align: right;
  padding-top: 40px;
  position: fixed;
}

#successtext {
  text-align: right;
  padding-top: 40px;
  position: fixed;
}

/*Trivia Buttons*/

.button1 {
  font-size: 30px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

.fontname1 {
  padding-top: 5px;
  font-size: 15px;
}

.button2 {
  font-size: 30px;
  font-family: 'Rubik';
  font-weight: 400;
}

.fontname2 {
  padding-top: 5px;
  font-size: 15px;
}

.button3 {
  font-size: 30px;
  font-family: 'Heebo';
  font-weight: 400;
}

.fontname3 {
  padding-top: 5px;
  font-size: 15px;
}

.button4 {
  padding-top: 5px;
  font-size: 30px;
  font-family: 'Varela Round';
  font-weight: 400;
}

.fontname4 {
  padding-top: 5px;
  font-size: 15px;
}

/* leftboard */

.phonemockup {
  background-image: url(img/backgroundPhone.png);
  width: 344px;
  height: 696px;
}


#header {
  position: relative;
  top: 100px;
  right: 60px;
  max-width: 224px;
  max-height: 496px;
}
#header1 {
  position: relative;
  top: 300px;
  right: 60px;
  max-width: 224px;
  max-height: 496px;
}

.scoreboard {
  display: grid;
    grid-template-columns: auto auto 50px;
    padding-bottom: 50px;
    width: 92%;
    justify-items: center;
    justify-content: space-between;
    padding-left: 80px;
}
