div {
    margin: 30px;
  }

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

body {
    margin-top: 10%;
    margin-right: 10%;
    margin-left: 10%;
    font-size: 1.7em;
    font-family: Noto Sans Hebrew;
    border: 1px solid red;  
    text-align: center;
    direction: rtl;
}

/* unvisited link */
a:link {
    color: rgb(0, 0, 0);
  }
  
  /* visited link */
  a:visited {
    color: green;
  }
  
  /* mouse over link */
  a:hover {
    color: hotpink;
  }
  
  /* selected link */
  a:active {
    color: rgb(0, 0, 0);
  }

input.button {
    border-radius: 50px;
    font-family: Noto Sans Hebrew;
    font-style: normal;
    font-size: 30px;
    padding: 10px 50px;
    text-align: center;
    background-color: #e7e7e7; color: black;
    border: none;
}

input.button:hover{
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.1), 0 2px 5px 0 rgba(0,0,0,0.19);
  background-color: rgb(249,250,251);
}